body {
  background-color: rgb(0, 0, 0);
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
}
.nav {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04aa6d;
  color: white;
}
.header {
  margin-top: 0;

  margin-top: 20px;

  font-size: larger;
  border-radius: 3px;
  height: 50px;
  color: rgb(219, 255, 15);
  padding: 10px;
  justify-content: center;
}
.header h1 {
  box-shadow: 10px 11px 24px 10px rgb(0, 0, 0);
  display: inline;
}
.vs {
  font-size: large;
  color: rgb(219, 255, 15);
}
.main {
  text-align: left;
  background: rgba(2, 2, 2, 0.568);
  height: 350px;
  font-size: 18px;
  padding: 19px;
  color: aliceblue;
}
.a {
  color: aliceblue;
}
.main ul {
  font-size: 12px;
}

.footer {
  height: 50px;
}
.footer h1 {
  color: gold;
  background-color: rgba(209, 206, 10, 0);

  box-shadow: 10px 11px 24px 10px rgba(0, 0, 0, 0.61);
  display: inline;
}
.aside1 {
  border: dashed 1px gold;
}
.aside2 {
  border: dashed 1px gold;
}

@media all and (min-width: 800px) {
  .main {
    flex: 3;
  }

  .aside1 {
    order: 1;
  }
  .aside2 {
    order: 2;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 4;
  }
}
@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}
